
@{
    ViewData["Title"] = "Forgot Password";
}
@using PromotionsWebApp.Domain.Entities
@using PromotionsWebApp.Domain.Abstract
@using PromotionsWebApp.Models
@model ForgotLoginVM
<form asp-action="ForgotPassword" asp-controller="Account" method="post" role="form" class="center-align">
    <div class="row">
        <h4 class="center-align">Forgot Password</h4>
        <div class="divider"></div>
        <div class="row">
            <div class="col s12">
                <div class="card-panel green">
                    <p>Enter Email Address to send link in order to reset password</p>
                </div>
                <div class="red-text" asp-validation-summary="All"></div>
                <div class="row">
                    <div class="input-field col s12">
                        @Html.LabelFor(model => model.EmailAddress)
                        <input type="text" class="validate" asp-for="EmailAddress" />
                        <span asp-validation-for="EmailAddress" class="red-text text-darken-2" />
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="input-field col s8 offset-s2">
            <a class="btn waves-effect waves-light btn-large red lighten-1" asp-action="Login">
                <span class="material-icons md-dark md-24 matIcon">
                    cancel
                </span>
                <span class="black-text">Cancel</span>
            </a>
            <button type="submit" name="cmdButton" class="btn waves-effect waves-light btn-large green lighten-1">
                <span class="material-icons md-dark md-24 matIcon">
                    send
                </span>
                <span class="black-text">Submit</span>
            </button>
        </div>
    </div>
</form>
@section Scripts {

    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }

}