
@{
    ViewData["Title"] = "Reset Password Confirmation";
}

<div class="row">
    <h4 class="center-align">Reset Password Confirmation</h4>
    <div class="divider"></div>
    <p class="center-align">
        Password has been changed. Please Login.
    </p>
    <div class="col s12 center-align ">
        <a asp-action="Login" asp-controller="Account" class="btn waves-effect waves-light btn-large green lighten-1">
            <span class="material-icons md-dark md-24 matIcon">
                login
            </span>
            <span class="black-text">Login</span>
        </a>
    </div>
</div>

