@model PromotionsWebApp.ViewComponents.PublicationFormViewComponent.PublicationViewModel
@using PromotionsWebApp.Domain.Abstract
@*Publications Add Modal*@
<a href="#publicationModal" class="tooltipped modal-trigger" id="addPublicationBtn" data-position="top" data-tooltip="Update Publication Details"><i class="material-icons">add</i></a>

<div id="publicationModal" class="modal grey lighten-5">
    <form id="publicationForm" asp-action="UpdatePublication" asp-controller="Staff" method="post" role="form">
        <input type="hidden" asp-for="StaffId" />
        <div class="modal-content">
            <h2 class="center-align">Add Publication</h2>
            <div class="row">
                <div class="row">
                    <div class="input-field col s8 offset-s2">
                        <Label class="active">Name</Label>
                        <input type="text" class="validate" asp-for="Name" />
                        <span asp-validation-for="Name" class="red-text text-darken-2" />
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s8 offset-s2">
                        <Label class="active">Authors</Label>
                        <input type="text" class="validate" asp-for="Authors" />
                        <span asp-validation-for="Authors" class="red-text text-darken-2" />
                    </div>
                </div>
                <div class="input-field col s8 offset-s2">
                    <Label class="select-label active">Publication Type</Label>
                    <select class="normalSelect" asp-for="PublicationType" asp-items="Html.GetEnumSelectList<PublicationType>()">
                        <option disabled selected="selected" value="">Please select Publication Type</option>
                    </select>
                    <span asp-validation-for="PublicationType" class="red-text text-darken-2" />
                </div>
                <div class="row">
                    <div class="input-field col s8 offset-s2">
                        <Label class="active">Year Obtained</Label>
                        <input type="text" class="validate" asp-for="YearObtained" />
                        <span asp-validation-for="YearObtained" class="red-text text-darken-2" />
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <div class="input-field col s8 offset-s2">
                <a class="btn modal-close waves-effect waves-light btn-flat red lighten-1">
                    <span class="material-icons md-dark md-24 matIcon">
                        cancel
                    </span>
                    <span class="black-text">Cancel</span>
                </a>
                <button type="submit" id="submitPublicationBtn" class="btn waves-effect waves-light btn-flat green lighten-1">
                    <span class="material-icons md-dark md-24 matIcon">
                        send
                    </span>
                    <span class="black-text">Submit</span>
                </button>
            </div>
        </div>
    </form>
</div>
